Simple Object
LayLa2.Insert
NEW Button
	LAYOUT	w = 70[]
	ATTR	Caption="Open Text"	Cmd = "Desktops.OpenDoc LayLa.Guide.Text"
END


PLACE
LayLa2.Insert
PLACE Panel
	LAYOUT border = 5
	CONTENTS
	NEW List	LAYOUT x=0 y=15 w=50 h=50 END
	NEW Button	LAYOUT x=50 y=50 w=50 h=20
		ATTRIBUTES	Caption="Blah"
	END
END


HLIST
LayLa2.Insert
HLIST Panel	LAYOUT border=8
	NEW Button	LAYOUT w=50 h=20
		ATTR Caption="Open" Cmd="Desktops.OpenDoc &File.Value"
	END
	NEW TextField	ATTR Name="File" END
END


extension factor
LayLa2.Insert
TABLE Panel	LAYOUT border=8 cols=3 rows=3 orientation=HOR w=200 h=150
	ATTR Locked=TRUE
	SPAN 2 2 NEW Button	LAYOUT w=50[] h=110[3] END
	NEW Button	LAYOUT w=[] h=[] END
	NEW Button	LAYOUT w=[] h=[] hjustifyMe=CENTER vjustifyMe=CENTER END
	NEW Button	LAYOUT w=[2] h=[] END
	NEW Button	LAYOUT w=[] h=[] hjustifyMe=CENTER vjustifyMe=CENTER END
	NEW Button	LAYOUT w=[] h=[] END
END


TABLE with SPAN and BREAK
LayLa2.Insert
TABLE Panel	LAYOUT border=8 cols=3 rows=3
	ATTR Locked=TRUE
	BREAK	HLIST Panel	LAYOUT border=8
		NEW Caption	ATTR Value="Zwischentitel 1" END
	END
	NEW Button	ATTR Caption = "1" END
	SPAN 2 1	NEW Button	LAYOUT w=[1] h=[1]	ATTR Caption = "2" END
	NEW Button	ATTR Caption = "3" END
	NEW Button	ATTR Caption = "4" END
	NEW Button	ATTR Caption = "5" END
	NEW Button	ATTR Caption = "6" END
	NEW Button	ATTR Caption = "7" END
	BREAK	HLIST Panel	LAYOUT h=60 w=[1] border=8
		HLIST VIRTUAL	LAYOUT vjustifyMe=TOP
			NEW Caption	LAYOUT vjustifyMe=CENTER	ATTR Value="Zwischentitel 2" END
			NEW Button	LAYOUT hjustifyMe=RIGHT	ATTR Caption="hello" END
		END
	END
	NEW Button	ATTR Caption = "8" END
	NEW Button	ATTR Caption = "9" END
	BREAK	HLIST Panel	LAYOUT border=8
		NEW Caption	ATTR Value="Zwischentitel 3" END
	END
END


CONFIG, INCLUDE, same Model in 4 Gadgets
LayLa2.Insert
CONFIG
	DEF int1 = NEW Integer	ATTR Value=75 END
	HLIST Panel	LAYOUT border=8
		VLIST VIRTUAL
			NEW Slider	LAYOUT w = 100 h = 20	LINKS Model=int1 END
			NEW TextField	LAYOUT w = 100 h = 20	LINKS Model=int1 END
		END
		INCLUDE LayLa2.Include.Config	PARAMS int = int1 END
		INCLUDE LayLa2.Include.Config END
	END
END


SCOPY, DCOPY
LayLa2.Insert
HLIST Panel	LAYOUT border=8
	VLIST VIRTUAL	LAYOUT border=8
		SCOPY Test.Slider	LAYOUT w=75 h=15 END
		SCOPY Test.TextField END
		SCOPY Test.Slider END
		SCOPY Test.Panel END
	END
	VLIST VIRTUAL	LAYOUT border=8
		DCOPY Test.Panel END
		DCOPY Test.Slider END
		DCOPY Test.TextField END
		DCOPY Test.Slider	LAYOUT h = 30	ATTR Value=50 END
	END
END


sameSize, grid, justify
LayLa2.Insert
CONFIG
	DEF Grid = CONFIG
		DEF vgrid = STATIC
		DEF hgrid = STATIC
		DEF sameWidth = FALSE
		DEF sameHeight = FALSE
		TABLE Panel	LAYOUT rows=3 cols=3 w=181 h=181 border=8 orientation=HOR hgrid = hgrid vgrid=vgrid
								sameWidth=sameWidth sameHeight=sameHeight hjustify=RIGHT vjustify=TOP
			NEW Button	LAYOUT w=[1] h=[1]	ATTR Caption = "1" END
			NEW Button	LAYOUT w=20 h=20	ATTR Caption = "2" END
			NEW Button	LAYOUT w=[1] h=[1]	ATTR Caption = "3" END
			NEW Button	LAYOUT w=20 h=20 hjustifyMe=LEFT	ATTR Caption = "4" END
			NEW Button	LAYOUT w=30 h=30 hjustifyMe=CENTER vjustifyMe=CENTER	ATTR Caption = "5" END
			NEW Button	LAYOUT w=20 h=20 vjustifyMe=BOTTOM	ATTR Caption = "6" END
			NEW Button	LAYOUT w=[1] h=[1]	ATTR Caption = "7" END
			NEW Button	LAYOUT w=20 h=20 hjustifyMe=LEFT vjustifyMe=BOTTOM	ATTR Caption = "8" END
			NEW Button	LAYOUT w=[1] h=[1]	ATTR Caption = "9" END
		END
	END
	TABLE Panel	LAYOUT cols=3 border=8
		VIRTUAL
		NEW Grid END
		VIRTUAL
		NEW Grid	PARAMS hgrid=DYNAMIC END
		NEW Grid	PARAMS vgrid=DYNAMIC END
		NEW Grid	PARAMS hgrid=DYNAMIC vgrid=DYNAMIC END
		NEW Grid	PARAMS hgrid=DYNAMIC vgrid=DYNAMIC sameWidth=TRUE END
		NEW Grid	PARAMS hgrid=DYNAMIC vgrid=DYNAMIC sameHeight=TRUE END
		NEW Grid	PARAMS hgrid=DYNAMIC vgrid=DYNAMIC sameWidth=TRUE sameHeight=TRUE END
	END
END


complex positioning
LayLa2.Insert
TABLE Panel	LAYOUT border=8 cols=3 rows=3 orientation=VERT w=151 h=151
	NEW Button	LAYOUT w=[1] h=[1]	ATTR Caption = "1" END
	HLIST VIRTUAL	LAYOUT w=[1] h=[1]
		NEW Button	LAYOUT w=20 h=20 hjustifyMe=RIGHT	ATTR Caption = "2" END
	END
	NEW Button	LAYOUT w=[1] h=[1]	ATTR Caption = "3" END
	HLIST VIRTUAL	LAYOUT w=[1] h=[1]
		NEW Button	LAYOUT w=20 h=20	ATTR Caption = "4" END
	END
	NEW Button	LAYOUT w=30 h=30 hjustifyMe = RIGHT vjustifyMe=TOP	ATTR Caption = "5" END
	HLIST VIRTUAL	LAYOUT w=[1] h=[1]
		NEW Button	LAYOUT w=20 h=20	ATTR Caption = "6" END
	END
	NEW Button	LAYOUT w=[1] h=[1]	ATTR Caption = "7" END
	HLIST VIRTUAL	LAYOUT w=[] h=[]
		NEW Button	LAYOUT w=20 h=20 vjustifyMe=TOP	ATTR Caption = "8" END
	END
	NEW Button	LAYOUT w=[] h=[] hjustifyMe=RIGHT vjustifyMe=TOP	ATTR Caption = "9" END
END


Desktop.Panel
LayLa2.Insert
HLIST Panel	LAYOUT sameSize=TRUE dist=10 border=8
	NEW List
		ATTR Name="List" Cmd="Desktops.OpenDoc '#Point '"
	END

	VLIST VIRTUAL	LAYOUT dist=2
		NEW List	LAYOUT w=[1] h=100
			ATTR Name="List1" Cmd="Lists.Directory '#Point ' List"
		END

		TABLE VIRTUAL	LAYOUT sameSize=TRUE dist=2 cols=3
			NEW Button	LAYOUT h=20
				ATTR Caption="Show" Cmd="Lists.Directory '&Show.Value ' List"
			END
			SPAN 1 2	NEW TextField	LAYOUT h=20
				ATTR Name="Show" Cmd="Lists.Directory '#Value ' List"
			END

			BREAK	NEW VIRTUAL	LAYOUT h=10 END

			NEW Button	LAYOUT h=20
				ATTR Caption="Open" Cmd="Desktops.OpenDoc &Open.Value "
			END
			SPAN 1 2	NEW TextField	LAYOUT h=20
				ATTR Name="Open" Cmd="Desktops.OpenDoc #Value "
			END

			NEW Button	LAYOUT h=20
				ATTR Caption="Open ^" Cmd="Desktops.OpenDoc ^"
			END
			SPAN 2 1	NEW Button
				ATTR Caption="Panel" Cmd="Desktops.OpenDoc (PanelDoc)"
			END
			NEW Button	LAYOUT h=20
				ATTR Caption="Text" Cmd="Desktops.OpenDoc (TextDoc)"
			END

			NEW Button	LAYOUT h=20
				ATTR Caption="Recall" Cmd="Desktops.Recall"
			END
			NEW Button	LAYOUT h=20
				ATTR Caption="Icon *" Cmd="Icons.InsertIcon *"
			END
		END
	END
END

